<h1>
  Post like #<%= @the_post_like.id %> details
</h1>

<article>
  <div>
    <a href="/post_likes">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_post_like/<%= @the_post_like.id %>">
      Delete post like
    </a>
  </div>
  <dl>
    <dt>
      Post
    </dt>
    <dd>
      <%= @the_post_like.post_id %>
    </dd>

    <dt>
      User
    </dt>
    <dd>
      <%= @the_post_like.user_id %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_post_like.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_post_like.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit post like
    </h2>
  </header>

  <form action="/modify_post_like/<%= @the_post_like.id %>"  method="post" >
    <div>
      <label for="post_id_box">
        Post
      </label>

      <input type="text" id="post_id_box" name="query_post_id" value="<%= @the_post_like.post_id %>">
    </div>

    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_post_like.user_id %>">
    </div>

    <button type="submit">
      Update post like
    </button>
  </form>
</article>

<hr>
