<h1>
  Food post #<%= @the_food_post.id %> details
</h1>

<article>
  <div>
    <a href="/food_posts">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_food_post/<%= @the_food_post.id %>">
      Delete food post
    </a>
  </div>
  <dl>
    <dt>
      User
    </dt>
    <dd>
      <%= @the_food_post.user_id %>
    </dd>

    <dt>
      Recipe
    </dt>
    <dd>
      <%= @the_food_post.recipe_id %>
    </dd>

    <dt>
      Photo url
    </dt>
    <dd>
      <%= @the_food_post.photo_url %>
    </dd>

    <dt>
      Caption
    </dt>
    <dd>
      <%= @the_food_post.caption %>
    </dd>

    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_food_post.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_food_post.updated_at) %> ago
    </dd>
  </dl>
</article>

<hr>


<article>
  <header>
    <h2>
      Edit food post
    </h2>
  </header>

  <form action="/modify_food_post/<%= @the_food_post.id %>"  method="post" >
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_food_post.user_id %>">
    </div>

    <div>
      <label for="recipe_id_box">
        Recipe
      </label>

      <input type="text" id="recipe_id_box" name="query_recipe_id" value="<%= @the_food_post.recipe_id %>">
    </div>

    <div>
      <label for="photo_url_box">
        Photo url
      </label>

      <input type="text" id="photo_url_box" name="query_photo_url" value="<%= @the_food_post.photo_url %>">
    </div>

    <div>
      <label for="caption_box">
        Caption
      </label>

      <input type="text" id="caption_box" name="query_caption" value="<%= @the_food_post.caption %>">
    </div>

    <button type="submit">
      Update food post
    </button>
  </form>
</article>

<hr>
