<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <strong><a href="/">Recipe Book</a></strong>
      &nbsp;|&nbsp;
      <% if user_signed_in? %>
        <a href="/feed">Feed</a> |
        <a href="/my_book">My Book</a> |
        <a href="/recipe_lists">My Lists</a> |
        <a href="/friends">Friends</a> |
        <a href="/users">Find People</a> |
        <a href="/recipes/new">+ New Recipe</a> |
        <a href="/recipes/import">+ Import</a> |
        <a href="/posts/new">+ Post Photo</a>
        &nbsp;&nbsp;
        <em><%= current_user.display %></em> |
        <%= link_to "Sign out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %> |
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </nav>
    <hr>

    <% if notice %>
      <p style="color:green"><strong><%= notice %></strong></p>
    <% end %>
    <% if alert %>
      <p style="color:red"><strong><%= alert %></strong></p>
    <% end %>

    <%= yield %>
  </body>
</html>
